* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  /* Padrão, mas pode ser ajustado */
}

#other_body {

  scrollbar-width: thin;
  scrollbar-color: rgb(185, 185, 185) transparent;
}