#category {
  display: flex;
  justify-content: center;
  align-items: center;
}

#category_body {
  background-color: var(--white-900);
  width: 80%;
  max-height: 90%;
  color: #000;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

#category_body ul {
  padding: 0 16px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#category_body ul li {
  list-style: none;
}

.icon_item_category {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  text-align: initial;
}

.group_category {
  display: flex;
  justify-content: space-between;
  background-color: var(--input-color);
  transition: background-color 0.2s linear;
  padding: 2rem;
  border-radius: 0.5rem;
}

.group_category:hover {
  background-color: #30303013;
  transition: background-color 0.2s linear;
}

#body_list_categories {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(185, 185, 185) transparent;
}

#head_card {
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

#div_button_category {
  display: flex;
  justify-content: center;
  align-items: center;
}
.label_radio,
.group_radio {
  cursor: pointer;
}
#group_category_resume {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}
#head_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#category_title {
  text-align: left;
}
#category_title p {
  font-size: 12px;
  color: #656565;
}
.item_group_category_resume div p {
  font-size: 12px;
}
.item_group_category_resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.item_group_category_resume div {
  text-align: left;
}
.item_group_category_resume div p {
  font-weight: 600;
  color: var(--black-legend);
}
#labelIcon {
  color: var(--button-color-blue);
}
#swapHorizIcon {
  color: var(--button-color-purple);
}
#bookMarkStarIcon {
  color: var(--button-color-yellow);
}
.description_category {
  font-size: 12px;
  color: #5c5c5c;
}
.border_icon_list_category {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #5c5c5c;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.border_uis_list_category {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #d9d9d9;
  padding: 0.4rem;
  border-radius: 0.5rem;
}
.edit_category {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.edit_document,
.delete_forever {
  cursor: pointer;
}
.edit_document {
  color: var(--button-color-blue);
}
.delete_forever {
  color: var(--button-color-red);
}
.edit_document:hover {
  color: var(--button-color-blue);
}
.delete_forever:hover {
  color: var(--button-color-red);
}
#modalContainerListCategories {
  position: absolute;
  top: 0;
  left: 0;
}
