<div id="new_expense">

    <form id="form_card" action="">
      <div id="head_card">
        <div>

          <label for="data">Data de vencimento</label>
          <input type="date" id="data" name="data">
        </div>
        <div>
          <span><button id="cancelar_create_card" type="button" >Cancelar</button></span>
        </div>
      </div>
      <div>
        <label for="data">Descrição</label>
        <input type="text" id="text_expense" name="text_expense">
      </div>
      <div>
        <label for="data">Categoria</label>
        <input type="text" id="text_expense" name="text_expense">
      </div>
      <div>
        <p>Repetir mensalmente?</p>
        <label for="vehicle3">Sim</label>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3">Não</label>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">

      </div>
      <div> <label for="select">Número de Parcelas:</label>
        <select name="select" disabled>
          <option value="valor1" selected>1x</option>
          <option value="valor2">2x</option>
          <option value="valor3">3x</option>
        </select>
      </div>

      <input id="button_expense" type="" value="Salvar">

    </form>

  </div>

  <div id="new_expense">
    <form id="form_card" action="">
      <div id="head_card">

        <div>
          <label for="data">Nome</label>
          <input class="input_style" type="text" id="text_expense" name="text_expense">
        </div>

        <div>
          <span><button id="button_close_card" type="button">Cancelar</button></span>
        </div>

      </div>
      <div>
        <label for="data">Ícone</label>
        <button id=""> <span class="material-symbols-rounded">
            rocket
          </span></button>
      </div>
      <div>
        <div id="div_button_expense">
          <input id="button_expense" type="" value="Salvar">

        </div>

    </form>
  </div>
