<div id="new_modal_js">
  <div id="category_body">
    <div id="head_card">
      <h1>Categorias</h1>
      <div>
        <span><button class="button_close_card"><span class="material-symbols-outlined">
close
</span>Fechar</button></span>

      </div>
    </div>
    <!--LISTA DE CATEGORIAS-->
    <div id="body_list_categories">
      <ul id="list_categories"></ul>
    </div>
    <div id="div_button_categorie">
      <button id="button_categorie" "> 
        Criar nova categoria
      </button>
    </div>
  </div>
</div>
