<div id="new_modal_js">
  <form id="form_card">
    <div id="head_card">
      <h2 id="page_title"></h2>
      <div>
        <span
          ><button class="button_close_card" type="button">
            <span class="material-symbols-rounded"> close </span>Fechar
          </button></span
        >
      </div>
    </div>
    <!--Categoria-->
    <div>
      <label for="category_id"
        >Categoria:
        <abbr class="required_abbr" title="campo obrigatório">*</abbr></label
      >
      <select
        id="category_id"
        name="select"
        class="input_style"
        required
      ></select>
    </div>
    <!--Método de Pagamento-->
    <div>
      <label for="payment_method_id"
        >Método de Pagamento:
        <abbr class="required_abbr" title="campo obrigatório">*</abbr>
      </label>
      <select id="payment_method_id" name="select" class="input_style"></select>
    </div>
    <!--Data de vencimento-->
    <div>
      <label for="due_date"
        >Data de vencimento:
        <abbr class="required_abbr" title="campo obrigatório">*</abbr></label
      >
      <input
        class="input_style"
        type="date"
        id="due_date"
        name="due_date"
        required
      />
    </div>
    <!--Valor TOTAL:-->
    <div>
      <label for="amount"
        >Valor mensal:
        <abbr class="required_abbr" title="campo obrigatório">*</abbr></label
      >

      <input
        type="text"
        id="amount"
        class="input_style"
        name="amount"
        placeholder="R$ 0,00"
        step="0.01"
        required
      />
    </div>

    <div>
      <label for="description">Descrição: </label>
      <input
        id="description"
        class="input_style"
        type="text"
        name="text_expense"
        placeholder="Exe.: Sorvete do final de semana..."
      />
    </div>

    <div id="question_repeated">
      <p>
        Repetir mensalmente? :
        <abbr class="required_abbr" title="campo obrigatório">*</abbr>
      </p>
      <div class="installments_option">
        <input
          class="group_radio"
          type="radio"
          id="radio_response_yes"
          name="response_radio"
          value="1"
          required
        />
        <label for="radio_response_yes" class="label_radio">Sim</label>
      </div>
      <div class="installments_option">
        <input
          class="group_radio"
          type="radio"
          id="radio_response_no"
          name="response_radio"
          value="0"
        />
        <label for="radio_response_no" class="label_radio">Não</label>
      </div>
    </div>
    <div>
      <label for="installments">Número de Parcelas :</label>
      <select id="installments" name="select" disabled required>
        <option value="1">Em 1x</option>
      </select>
    </div>
    <div id="status">
      Status da nova ação:
      <abbr class="required_abbr" title="campo obrigatório">*</abbr>

      <input
        type="radio"
        id="radio_response_paid"
        name="response_status"
        value="paid"
        required
      />
      <label for="radio_response_paid">Pago</label>

      <input
        type="radio"
        id="radio_response_owing"
        name="response_status"
        value="pending"
      />
      <label for="radio_response_owing">Devendo</label>
    </div>
    <div id="div_button_expense">
      <input id="button_transactions" type="submit" value="Salvar" />
    </div>
  </form>
</div>
