<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />

    <link rel="stylesheet" href="../css/login.css" />
    <title>Login</title>
  </head>
  <body>
    <main>
      <div id="left_side">
        <div>
          <img src="../assets/logo.svg" id="logo" alt="" />
        </div>
        <div>
          <img src="../assets/backgroundLogin.png" id="womanBackground" />
        </div>
      </div>
      <div id="right_side">
        <h1>Login</h1>
        <div>
          <form action="" id="formLogin">
            <div class="divInput">
              <label for="inputemail">Seu endereço de email: </label>
              <input type="text" name="inputEmail" id="inputEmail" />
            </div>
            <div class="divInput">
              <label for="password">Senha</label>

              <input type="password" name="inputPassword" id="inputPassword" />
            </div>
            <div>
              <option value=""></option>
              <a href="">Link aqui</a>
            </div>
            <div>
              <button>Entrar</button>
              <button>Criar conta</button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
