<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />

    <link rel="stylesheet" href="../css/login.css" />
    <title>Login</title>
  </head>
  <body>
    <main>
      <div id="left_side">
        <div>
          <img src="../assets/logo.svg" id="logo" alt="" />
        </div>
        <div id="imageBackground"></div>
      </div>
      <div id="right_side">
        <div>
          <h1 id="titlePage">Login</h1>
          <form action="" id="formLogin">
            <div class="divInput">
              <label for="inputemail">Endereço de email: </label>
              <input type="text" name="inputEmail" id="inputEmail" />
            </div>
            <div class="divInput">
              <label for="password">Senha</label>

              <input
                type="password"
                name="inputPassword"
                id="inputPassword"
                required
              />
            </div>
            <div id="groupLinks">
              <span id="groupRemember">
                <input type="radio" name="remember" id="remember" required />
                <label for="remember">Lembre de mim</label>
              </span>
              <span>
                <a id="forget" href="">Esqueceu a senha?</a>
              </span>
            </div>
            <div id="groupButtons">
              <button id="loginButton">Entrar</button>
              <button id="singInButton">Criar conta</button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
