.card_pay {
  display: grid;
  grid-template-areas:
    "title_date title_date"
    "div_icon_categorie  amount_circle"
    "card_text card_text"
    "group_button_transactions group_button_transactions";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.7fr 2fr 8rem;
}
.card_pay {
  width: 100%;
  background-color: rgb(219, 223, 225);
  border-radius: 3rem;
}
.button_remove {
  cursor: pointer;
  background-color: #dbdfe1;
  font-weight: 700;
  color: #ff4000;
  border: 1px solid #ff4000;
  transition: all;
  transition-duration: 0.2s;
  padding: 0.6rem 1.7rem;
  border-radius: 15px;
}
.button_remove:hover {
  color: #cecece;
  background-color: #ff4000;
  transition: all;
  transition-duration: 0.2s;
}
.button_edit {
  cursor: pointer;
  background-color: #dbdfe1;
  font-weight: 700;
  color: #448aff;
  border: 1px solid #448aff;
  transition: all;
  transition-duration: 0.2s;
  padding: 0.6rem 1.7rem;
  border-radius: 15px;
}
.button_edit:hover {
  color: #cecece;
  background-color: #448aff;
  transition: all;
  transition-duration: 0.2s;
}
.button_set_status_paid {
  cursor: pointer;
  background-color: #dbdfe1;
  font-weight: 700;
  color: #00c030;
  border: 1px solid #00c030;
  transition: all;
  transition-duration: 0.2s;
  padding: 0.6rem 1.7rem;
  border-radius: 15px;
}
.button_set_status_peding {
  white-space: nowrap;
  cursor: pointer;
  background-color: #dbdfe1;
  font-weight: 700;
  color: #474747;
  border: 1px solid #ccb334;
  transition: all;
  transition-duration: 0.2s;
  padding: 0.6rem 1.7rem;
  border-radius: 15px;
}
.button_set_status_paid:hover {
  color: #cecece;
  background-color: #00c030;
  transition: all;
  border: 1px solid #00c030;

  transition-duration: 0.2s;
}
.button_set_status_peding:hover {
  color: #474747;
  background-color: #ffd600;
  transition: all;
  transition-duration: 0.2s;
}
.title_date {
  grid-area: title_date;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 0.8rem;
}
.title_categorie {
  padding-top: 1rem;
  font-size: 1.5rem;
}
.div_icon_categorie {
  grid-area: div_icon_categorie;
}
.div_icon_categorie,
.amount_circle,
.group_button_transactions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.amount_circle {
  grid-area: amount_circle;
  gap: 0.5rem;
}
.amount_transaction {
  font-size: 1.5rem;
}
.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: red;
}
.circle_paid {
  background-color: #008a50;
}
.circle_peding {
  background-color: #e2a601;
}

.card_text {
  grid-area: card_text;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.7rem;
  padding-left: 19px;
}
.card_text div {
  width: 80%;
  border-top: 1px solid #85858552;
  padding-top: 1rem;
}
.group_button_transactions {
  align-content: center;
  grid-area: group_button_transactions;
  flex-wrap: wrap-reverse;
}
.icon_categorie {
  background-color: blueviolet;
  padding: 1rem;
  border-radius: 1rem;
}
.div_icon_categorie span {
  color: #fff;
}
.card_text p {
  font-size: 1rem;
  color: #7b7b7b;
}
.card_text strong {
  color: #000;
}
/*//////////////////////////////////////////////////////////////////////////
//////////////////////////CSS PARA DESCKTOP ////////////////////////
//////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 1060px) {
  .title_date strong {
    font-size: 1.5rem;
  }
  .card_pay {
    width: 100%;
    background-color: rgb(219, 223, 225);
    padding: 2rem;
    border-radius: 3rem;
  }
  .header_transaction {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .title_card,
  .icon_title,
  .amount_circle {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .icon_title {
    gap: 1.2rem;
  }

  .title_date {
    grid-area: title_date;
    display: flex;
    align-items: start;
    gap: 2px;
    flex-direction: column;
  }

  .title_categorie {
    font-size: 2rem;
  }
  .title_date p {
    color: #7b7b7b;
  }
  .amount_circle {
    grid-area: amount_circle;
    gap: 0.5rem;
    display: flex;
    justify-content: end;
  }
  .amount_transaction {
    font-size: 1.5rem;
  }

  .card_text {
    grid-row: card_text;
  }
  .card_text div {
    width: 100%;
    padding-top: 0;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  .group_button_transactions {
    grid-area: group_button_transactions;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-wrap: nowrap;
  }
  .div_icon_categorie {
    grid-area: div_icon_categorie;
    border-right: solid 2px #bbbbbbad;

    display: flex;
    justify-content: start;
    align-items: center;
  }

  .card_pay {
    display: grid;
    grid-template-areas:
      "div_icon_categorie title_date amount_circle"
      "div_icon_categorie card_text group_button_transactions";
    grid-template-columns: 4.9rem 4fr 2fr;
    grid-template-rows: 4rem auto;
  }
}
