.card_pay {
  display: grid;
  grid-template-areas:
    "title_date title_date"
    "div_icon_category  amount_circle"
    "card_text card_text"
    "group_button_transactions group_button_transactions";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 0.4fr 0.8fr 0.3fr;
  place-items: center;
  width: 100%;
  background-color: var(--cinza-900);
  border-radius: 1rem;
}
.title_date {
  grid-area: title_date;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  gap: 0.4rem;
  padding-bottom: 1.5rem;
}
.title_category {
  padding-top: 3rem;
  font-size: 1.5rem;
  text-align: center;
}
.div_icon_category {
  grid-area: div_icon_category;
}
.div_icon_category,
.amount_circle,
.group_button_transactions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.amount_circle {
  grid-area: amount_circle;
  gap: 0.5rem;
  padding-right: 2rem;
}
.amount_transaction {
  font-size: 1.5rem;
}
.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--button-color-red);
}
.circle_paid {
  background-color: var(--button-color-green);
}
.circle_pending {
  background-color: var(--button-color-yellow);
}
.circle_revenue {
  background-color: var(--button-color-blue);
}

.card_text {
  grid-area: card_text;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-top: 1rem;
}
.card_text div {
  width: 80%;
  border-top: 1px solid #c3c3c3;
  padding-top: 1rem;
}
.group_button_transactions {
  align-content: center;
  grid-area: group_button_transactions;
  flex-wrap: wrap-reverse;
  padding: 2rem;
}
.icon_category {
  padding: 1rem;
  border-radius: 1rem;
}
.div_icon_category span {
  color: #fff;
}

.card_text strong {
  color: #000;
}
