.card_pay {
  display: grid;
  grid-template-areas:
    "title_date title_date"
    "div_icon_category  amount_circle"
    "card_text card_text"
    "group_button_transactions group_button_transactions";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 0.4fr 0.8fr 0.3fr;
  place-items: center;
  width: 100%;
  background-color: var(--cinza-900);
  border-radius: 3rem;
}
.title_date {
  grid-area: title_date;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 0.8rem;
}
.title_category {
  padding-top: 3rem;
  font-size: 1.5rem;
  text-align: center;
}
.div_icon_category {
  grid-area: div_icon_category;
}
.div_icon_category,
.amount_circle,
.group_button_transactions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.amount_circle {
  grid-area: amount_circle;
  gap: 0.5rem;
  padding-right: 2rem;
}
.amount_transaction {
  font-size: 1.5rem;
}
.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--button-color-red);
}
.circle_paid {
  background-color: var(--button-color-green);
}
.circle_pending {
  background-color: var(--button-color-yellow);
}
.circle_revenue {
  background-color: var(--button-color-blue);
}

.card_text {
  grid-area: card_text;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-top: 1rem;
}
.card_text div {
  width: 80%;
  border-top: 1px solid var(--text-legend);
  padding-top: 1rem;
}
.group_button_transactions {
  align-content: center;
  grid-area: group_button_transactions;
  flex-wrap: wrap-reverse;
  padding: 2rem;
}
.icon_category {
  padding: 1rem;
  border-radius: 1rem;
}
.div_icon_category span {
  color: #fff;
}
.card_text p {
  font-size: 1rem;
  color: var(--text-legend);
}
.card_text strong {
  color: #000;
}
/*//////////////////////////////////////////////////////////////////////////
//////////////////////////CSS PARA DESCKTOP ////////////////////////
//////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 1060px) {
  .title_date strong {
    font-size: 1.5rem;
  }
  .card_pay {
    width: 100%;
    background-color: var(--cinza-900);
    padding: 2rem;
    border-radius: 3rem;
  }
  .header_transaction {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .title_card,
  .icon_title,
  .amount_circle {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .icon_title {
    gap: 1.2rem;
  }

  .title_date {
    grid-area: title_date;
    display: flex;
    align-items: start;
    gap: 2px;
    flex-direction: column;
  }

  .title_category {
    font-size: 2rem;
  }
  .title_date p {
    color: var(--text-legend);
  }
  .amount_circle {
    grid-area: amount_circle;
    gap: 0.5rem;
    display: flex;
    justify-content: end;
  }
  .amount_transaction {
    font-size: 1.5rem;
  }

  .card_text {
    grid-row: card_text;
    padding-top: 0.7rem;
    padding-left: 0.7rem;
  }
  .card_text div {
    width: 100%;
    padding-top: 0;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  .group_button_transactions {
    grid-area: group_button_transactions;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-wrap: nowrap;
  }
  .div_icon_category {
    grid-area: div_icon_category;
    border-right: solid 1px var(--text-legend);

    display: flex;
    justify-content: start;
    align-items: center;
  }

  .card_pay {
    display: grid;
    grid-template-areas:
      "div_icon_category title_date amount_circle"
      "div_icon_category card_text group_button_transactions";
    grid-template-columns: 4.9rem 4fr 2fr;
    grid-template-rows: 4rem auto;
    place-items: inherit;
  }
}
