#containerOptionsDelete,
#formOptionsDelete,
#containerChangeCategory {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 1rem;
}
#containerOptionsDelete {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #fff;
  gap: 2rem;
}
#containerChangeCategory {
  display: flex;
  gap: 0.5rem;
}
#formOptionsDelete {
  width: 100%;
  gap: 1rem;
}
#containerOptionsDelete h2 {
  font-weight: 600;
}
#containerOptionsDelete h2 strong {
  color: var(--button-color-red);
}
#containerOptionsDelete p {
  color: var(--text-legend);
}
#deleteCategoryOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100lvh;
  background-color: rgb(0 0 0 / 20%);
  backdrop-filter: blur(4px);
}

#groupButtonsDeleteCategory {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

#buttonCancel {
  border: none;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  background: none;
  font-weight: 800;
  cursor: pointer;
}
#buttonSetSubmit {
  border: none;
  text-decoration: none;
  color: #fff;
  padding: 1rem 3rem;
  background-color: red;
  font-size: 1rem;
  font-weight: 800;
  border-radius: 0.5rem;
  cursor: pointer;
}
