#category {
  display: flex;
  justify-content: center;
  align-items: center;
}

#category_body {
  background-color: var(--white-900);
  width: 80%;
  max-height: 80%;
  color: #000;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

#category_body ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#category_body ul li {
  list-style: none;
}

.icon_item_category {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  text-align: initial;
}

.group_category {
  display: flex;
  justify-content: space-between;
  background-color: var(--input-color);
  transition: background-color 0.2s linear;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.group_category:hover {
  background-color: #30303040;
  transition: background-color 0.2s linear;
}

#body_list_categories {
  overflow: auto;
}

#div_button_category {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*//////////////////////////////////////////////////////////////////////////
//////////////////////////CSS PARA DESKTOP ////////////////////////
//////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 1060px) {
  #category_body {
    width: 50%;
    height: 80%;
  }
}
