#head_card_form_transactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#question_repeated {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}
#page_legend_title {
  font-size: 12px;
  color: #656565;
}
.installments_option {
  user-select: none;
  cursor: pointer;
}
#button_transactions:hover {
  background-color: #00c774;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#div_button_expense {
  display: flex;
  justify-content: center;
}

#form_card {
  width: 95%;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  gap: 1rem;
  border-radius: 0.5rem;
  /* https://smoothshadows.com/#djEsMSw4LDAuMDYsNDIsOCwtNywjMDMwNzEyLCNmM2Y0ZjYsI2ZmZmZmZiwy */
  box-shadow: -0px 0px 1px rgba(3, 7, 18, 0.01),
    -0px 1px 3px rgba(3, 7, 18, 0.01), -1px 1px 6px rgba(3, 7, 18, 0.02),
    -2px 2px 11px rgba(3, 7, 18, 0.03), -3px 3px 16px rgba(3, 7, 18, 0.04),
    -4px 5px 24px rgba(3, 7, 18, 0.04), -5px 6px 32px rgba(3, 7, 18, 0.05),
    -7px 8px 42px rgba(3, 7, 18, 0.06);
}

#input_description {
  width: 80%;
}
#installments {
  background: #d0d0d0;
}

#description {
  width: 70%;
}
