#category {
  display: flex;
  justify-content: center;
  align-items: center;
}

#category_body {
  background-color: var(--white-900);
  width: 80%;
  max-height: 80%;
  color: #000;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

#category_body ul {
  padding: 0 16px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#category_body ul li {
  list-style: none;
}

.icon_item_category {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  text-align: initial;
}

.group_category {
  display: flex;
  justify-content: space-between;
  background-color: var(--input-color);
  transition: background-color 0.2s linear;
  padding: 2rem;
  border-radius: 0.5rem;
}

.group_category:hover {
  background-color: #30303040;
  transition: background-color 0.2s linear;
}

#body_list_categories {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(185, 185, 185) transparent;
}

#div_button_category {
  display: flex;
  justify-content: center;
  align-items: center;
}
.label_radio,
.group_radio {
  cursor: pointer;
}
