#replacement {
  background-color: #d9d9d9;
}

#main_content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: "Heebo", serif;
  color: white;
  background-color: #d9d9d9;
}

button,
.material-symbols-outlined {
  user-select: none;
}

#pay,
#no_pay,
#total_month {
  font-weight: 800;
  font-style: normal;
  color: #ffffff;
}

#resume_month {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  align-items: center;
  flex-direction: column;
  background-color: #263940;
  height: 40%;
  width: 100%;
  border-radius: 0rem 0rem 2rem 2rem;
  flex-shrink: 0;
}

#atual_month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

#atual_month p {
  font-size: 2rem;
}

#group_pay span {
  display: flex;
  flex-direction: column;
}

#group_pay {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#other_body {
  flex-grow: 1;
  overflow-y: auto;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#circle {
  background: rgb(190, 0, 0);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.buttonCreate .add_up {
  transition: transform 0.4s ease;
}

.rotate_x {
  transform: rotate(45deg);
}

.buttonHover:hover {
  background-color: #00c774;
}

#group_cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.arrow_month {
  color: #acacac;
  font-size: 2rem;
}

.arrow_month:hover {
  color: #ffffff;
}

.button_month {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.card_pay {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem 1rem;
  gap: 1rem;
}

.card_pay p {
  color: #000000;
}

.item_data {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.item_pay {
  display: flex;
  justify-content: space-around;
}

.item_class {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.item_type :first-child {
  font-weight: 800;
}

.teste_color_01,
.teste_color_02 {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(167, 16, 255);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-weight: 200;
}

.item_status {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.buttonCreate {
  background-color: #01a662;
  padding: 20px 20px;
  border-radius: 15px;
  text-decoration: none;
  color: #ffffff;
  display: block;
  cursor: pointer;
}

.remove_or_error {
  background-color: red;
}

#button_option {
  position: absolute;
  bottom: 30px;
  right: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: end;
}

#opcoes {
  padding: 1rem 0rem;
  opacity: 0;
  transform: scale(0.98);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  /* impede clicar quando invisível */
}

.open {
  display: block;
}

#opcoes.open {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

#opcoes ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  list-style: none;
  justify-content: center;
}

#opcoes ul li {
  text-decoration: none;
  padding: 1rem 2rem;
  color: #ffffff;
  border-radius: 1rem;
  cursor: pointer;
}

#despesas {
  background-color: #ff4000;
  user-select: none;
}
#receita {
  background-color: #00c030;
  user-select: none;
}
#categoria {
  background-color: #005eff;
}

#categoria:hover {
  background-color: #448aff;
}

#despesas:hover {
  background-color: #f06030;
  color: #ffffff;
}

.add_up {
  font-size: 35px;
}

#modalContainer {
  position: absolute;
}

#logo {
  display: none;
}

/*---------------------*/

#new_modal_js {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 20%);
  backdrop-filter: blur(4px);
}

/*----------------*/
@media screen and (min-width: 1060px) {
  #main_content {
    background-color: #263940;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #logo {
    display: flex;
    position: absolute;
    top: 3rem;
    width: 20rem;
  }

  #group_cards {
    gap: 2rem;
  }

  #resume_month {
    height: 100%;
    width: 30%;
    border-radius: unset;
    justify-content: center;
  }

  #group_pay,
  #month {
    font-size: 1.2rem;
    text-align: center;
  }

  #other_body {
    margin: 0 1.5rem 0rem 0rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #374953;
    width: 70%;
    height: 80%;
  }

  .card_pay {
    padding: 2rem 2.5rem;
  }

  .item_pay {
    justify-content: space-between;
  }

  .buttonCreate {
    bottom: 90px;
    right: 50px;
  }
}
