#replacement {
  background-color: #d9d9d9;
}

#main_content {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  background-color: #374953;
}

p {
  font-size: 12px;
}
button,
.material-symbols-outlined {
  user-select: none;
}
#aside_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 13px;
}
#pay,
#no_pay,
#total_month {
  font-style: normal;
  color: #ffffff;
}

#resume_month {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  align-items: center;
  flex-direction: column;
  background-color: #263940;
  color: #ffffff;
  height: 100%;
  width: 100%;
  border-radius: 0rem 0rem 2rem 2rem;
  flex-shrink: 0;
}

#atual_month {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#atual_month p {
  font-size: 2rem;
}

#group_pay span {
  display: flex;
  flex-direction: column;
}
#group_pay,
#month_value,
#revenue,
#month {
  font-size: 1.2rem;
  text-align: center;
}
#group_pay {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#other_body {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rotate_x {
  transform: rotate(45deg);
}

#group_cards {
  justify-content: start;
  padding: 1rem;
  overflow-y: auto;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  scrollbar-width: thin;
  scrollbar-color: rgb(185, 185, 185) transparent;
}

.arrow_month {
  color: #acacac;
  font-size: 2rem;
}

.arrow_month:hover {
  color: #ffffff;
}

.button_month {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.card_pay p {
  color: #000000;
}

.card_transaction {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-weight: 200;
}

.remove_or_error {
  background-color: red;
}

#button_option {
  padding-top: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#opcoes {
  padding: 0rem;
  opacity: 0;
  transform: scale(0.98);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  /* impede clicar quando invisível */
}

.open {
  display: block;
}
.displaynone {
  display: none;
  transition: all 0.2s linear 0.5s;
  opacity: 0;
}

#opcoes.open {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
  transition: all 0.5s linear 0.5s;
}

#opcoes ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  list-style: none;
  justify-content: center;
  padding: 0;
}

#opcoes ul li {
  text-decoration: none;
  padding: 1rem 2rem;
  color: #ffffff;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 11rem;
}

#despesas {
  background-color: #ff4000;
  user-select: none;
  transition: all;
  transition-duration: 0.5s;
}
#receita {
  background-color: #00c030;
  user-select: none;
  transition: all;
  transition-duration: 0.5s;
}
#categoria {
  background-color: #005eff;
  transition: all;
  transition-duration: 0.5s;
}

#categoria:hover {
  background-color: #6ba1ff;
  transition: all;
  transition-duration: 0.5s;
}

#despesas:hover {
  background-color: #ff6a6a;
  color: #ffffff;
  transition: all;
  transition-duration: 0.5s;
}

#receita:hover {
  background-color: #58ff82;
  transition: all;
  transition-duration: 0.5s;
}
.add_up {
  font-size: 35px;
}

#modalContainer {
  position: absolute;
}

#logo {
  content: url(../assets/logo.svg);
  width: 30%;
}

#new_modal_js {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 20%);
  backdrop-filter: blur(4px);
}
#group_resume {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  line-height: 2rem;
}
/*//////////////////////////////////////////////////////////////////////////
CSS LOADING
//////////////////////////////////////////////////////////////////////////*/

#loading-overlay {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #37495399;
  backdrop-filter: blur(3px);
  color: #ffffff;
  z-index: 9999;
}
#loading-overlay.hidden {
  display: none;
}
.spinner {
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*//////////////////////////////////////////////////////////////////////////
//////////////////////////CSS PARA DESCKTOP ////////////////////////
//////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 1200px) {
  #main_content {
    background-color: #263940;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  #aside_menu {
    gap: 4px;
  }
  #group_pay {
    display: flex;
    justify-content: space-between;
  }
  #group_total {
    display: flex;
    justify-content: space-between;
  }
  #aside_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 80%;
  }
  #logo {
    content: url(../assets/logo.svg);
    display: flex;
    width: 10rem;
  }

  #button_option {
    width: 50%;
  }
  #group_cards {
    gap: 2rem;
  }

  #resume_month {
    justify-content: space-around;
    height: 90%;
    width: 30%;
    border-radius: unset;
  }

  #group_pay,
  #month_value,
  #revenue {
    font-size: 1.2rem;
    text-align: center;
  }
  #month {
    font-size: 1.1rem;
    text-align: center;
  }

  #opcoes ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    justify-content: center;
  }
  #other_body {
    margin: 0 1.5rem 0rem 0rem;
    padding: 2rem;
    border-radius: 4rem;
    background-color: #37495399;
    max-width: 66%;
    height: 90%;
  }

  .card_transaction:hover {
    transition: background-color 0.5s linear;
    transform: scale(1.01); /* aumenta texto + ícone + caixa */
    transition: transform 0.3s;
  }
  .item_pay {
    justify-content: space-between;
  }

  p,
  a {
    font-size: 16px;
  }
}
@media screen and (min-width: 1600px) {
  #aside_menu {
    gap: 1.5rem;
  }
  #atual_month {
    padding-bottom: 4rem;
  }

  #group_pay,
  #month_value,
  #revenue {
    font-size: 1.3rem;
    text-align: center;
  }
  #group_cards {
    padding: 2rem;
  }
  #logo {
    width: 16rem;
  }
  #group_pay {
    width: 80%;
  }
}
