body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #263940;
}


#mainContent {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#userImg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  user-select: none
}

#nameUser {
  width: auto;
  font-family: "Heebo", serif;
  font-weight: 500;
  font-style: normal;
  color: #FFFFFF;
}

#formcreate {
  display: none;
}

#container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.border-on {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.border-on::after {
  content: '';
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  /* Largura da borda */
  height: 3px;
  /* Espessura da borda */
  background-color: #FFFFFF;
  /* Cor da borda */
  border-radius: 3px;
  /* Cantos arredondados */
}

.tablinks {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Heebo", serif;
  font-weight: 500;
  font-style: normal;
  color: #FFFFFF;
  justify-content: space-between;
}

.tablinks:hover {
  color: #e2e2e2;
}

#options-user {
  display: flex;
  font-family: "Heebo", serif;
  font-weight: 500;
  font-style: normal;
  color: #FFFFFF;
  justify-content: space-between;
  width: 100%;
}

legend {
  display: none;
}

#loginField {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#formlogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  font-family: "Heebo", serif;
  font-weight: 300;
  font-style: normal;
  color: #89959b;
}

.inputLogin {
  border: none;
  border-radius: 15px;
  padding: 20px;
  max-width: 400px;
  background-color: #89959b;
  color: #89959b;

}

.label:focus-within {
  color: #FFFFFF;
}

.label:hover {
  color: #FFFFFF;
}

.inputLogin:hover {
  background-color: #FFFFFF;

}


.inputLogin:focus-within {
  background-color: #FFFFFF;
  outline: 0;

}



#blank-profile {
  max-width: 150px;
  border-radius: 100%;
  margin: 20px;
}

::selection {
  background-color: #263940;
  color: #FFFFFF
}

#modalContainer {
  position: absolute;
}

@media screen and (min-width: 700px) {
  #mainContent {
    flex-direction: row;
  }

  body {
    background-color: rgb(38, 57, 64);
    ;
  }

  .label {
    color: #FFFFFF;
  }

  .inputLogin {
    background-color: #FFFFFF;
  }

  #userImg {
    margin-right: 20px;
  }


}