body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #263940;
}
main {
  display: flex;
  width: 100%;
  height: 100%;
}

#right_side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 50%;
  gap: 2rem;
}

#left_side {
  padding: 2rem 0px 0px 2rem;
  display: flex;
  align-items: start;
  justify-content: left;
  width: 50%;
  flex-direction: column;
}

#logo {
  width: 242.15px;
  height: 109px;
}
#womanBackground {
  width: 85%;
  opacity: 0.2;
}
.divInput {
  border: 1px solid var(--azul-400);
  width: 30rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  border-radius: 10px;
}
#inputEmail,
#inputPassword {
  outline: none;
  width: 100%;
}
#formLogin {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
