* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  /* Padrão, mas pode ser ajustado */
}

footer {
  display: none;
}

.button_back_card {
  padding: 1rem;
  background-color: rgb(32, 32, 32);
  color: white;
  border-radius: 0.4rem;
  cursor: pointer;
}

.button_back_card:hover {
  background-color: #363636;

}

.button_close_card {
  padding: 1rem;
  background-color: rgb(255, 6, 6);
  color: white;
  border-radius: 0.4rem;
  cursor: pointer;
}

.button_close_card:hover {
  background-color: #ff5757;
}

.input_style {
  background-color: #8a8a8a;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.input_style:focus {
  background-color: #d0d0d0;
}

#other_body {

  scrollbar-width: thin;
  scrollbar-color: rgb(185, 185, 185) transparent;
}

#buttonLogin,
#buttonLogin_create,
#button_expense {
  background-color: #3498db;
  padding: 16px 64px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}



#buttonLogin:hover,
#buttonLogin_create:hover {
  background-color: #2880b9;
  color: #ffffff;
}