* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  user-select: none;
  font-size: 16px;
  /* Padrão, mas pode ser ajustado */
}

footer {
  display: none;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" -25, "opsz" 20;
}

.button_back_card {
  padding: 1rem;
  background-color: rgb(32, 32, 32);
  color: white;
  border-radius: 0.4rem;
  cursor: pointer;
}

.button_back_card:hover {
  background-color: #363636;
}

.button_close_card {
  padding: 1rem;
  background-color: rgb(255, 6, 6);
  color: white;
  border-radius: 0.4rem;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
}

.button_close_card:hover {
  background-color: #ff5757;
  transition-property: backgroun-color;
  transition-duration: 0.5s;
}

.input_style {
  background-color: #d0d0d0;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.input_style:focus {
  background-color: #ececec;
}

#buttonLogin,
#buttonLogin_create,
#buttonNewCategory,
#button_transactions {
  background-color: #3498db;
  padding: 16px 64px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
}

#buttonLogin:hover,
#buttonLogin_create:hover {
  background-color: #2880b9;
  transition-property: backgroun-color;
  transition-duration: 0.5s;
  color: #ffffff;
}
.required_abbr {
  text-decoration: none;
  font-weight: 900;
  color: red;
}
