:root {
  --button-color-red: #ff4000;
  --button-color-red-hover: #ff5757;
  --button-color-red-back: #e8cdcd;

  --button-color-blue: #448aff;
  --button-color-blue-hover: #6ba1ff;
  --button-color-blue-back: #c7d9ff;

  --button-color-green: #00c030;
  --button-color-green-hover: #00c030;

  --button-color-purple: #7142ff;
  --button-color-yellow: #f8b632;

  --button-color-back: #ebebeb;

  --azul-200: #263940;
  --azul-400: #30434c;
  --cinza-900: #dbdfe1;
  --white-900: #ffffff;
  --white-200: #c3c3c3;
  --white-legend: #dbdfe136;
  --black-legend: #65656580;

  --input-color: #eeeeee;
  --text-default: #373737;
  --text-legend: #7b7b7b;

  --component-color: #9e9e9e;
}
body {
  -moz-osx-font-smoothing: grayscale; /* Para navegadores Firefox no macOS */
  -webkit-font-smoothing: antialiased;
  /* Tentativa de suporte geral (não padrão) */
}
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html {
  user-select: none;
  font-size: 16px;
  /* Padrão, mas pode ser ajustado */
}

footer {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.input_style {
  background-color: var(--input-color);
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.input_style:focus {
  background-color: #ececec;
}

.required_abbr {
  text-decoration: none;
  font-weight: 900;
  color: var(--button-color-red);
}

#group_total_resume {
  opacity: 1;
  transform: translateX(0);
}
#group_total_resume.show {
  background-color: var(--button-color-green);
  opacity: 0;
  transform: translateX(100%);
  display: none;
}

#group_cards.padding_top {
  padding-top: 17rem;
}
#resume_month.fixed {
  position: fixed;
  height: auto;
  flex-direction: column;
  top: 0;
}
#menu_mobile {
  position: relative;
  top: 280px;
}
/*==========JS DO MODAL*/

/**********************************/

.due_date_false {
  color: white;
  font-size: 0.8rem;
  background-color: var(--button-color-red);
  padding: 3px 5px;
  border-radius: 4px;
}
.due_date_true {
  color: white;
  font-size: 0.8rem;
  background-color: var(--button-color-green);
  padding: 3px 5px;
  border-radius: 4px;
}
.due_date_revenue {
  color: white;
  font-size: 0.8rem;
  background-color: var(--azul-400);
  border-radius: 4px;
  padding: 3px 5px;
}
