:root {
  --button-color-red: #ff4000;
  --button-color-red-hover: #ff5757;
  --button-color-red-back: #e8cdcd;

  --button-color-blue: #448aff;
  --button-color-blue-hover: #6ba1ff;
  --button-color-blue-back: #c7d9ff;

  --button-color-green: #00c030;
  --button-color-green-hover: #00c030;

  --button-color-purple: #7142ff;
  --button-color-yellow: #f8b632;

  --button-color-back: #ebebeb;

  --azul-200: #263940;
  --azul-400: #30434c;
  --cinza-900: #dbdfe1;
  --white-900: #ffffff;
  --white-200: #c3c3c3;
  --white-legend: #dbdfe136;
  --black-legend: #65656580;

  --input-color: #eeeeee;
  --text-default: #373737;
  --text-legend: #7b7b7b;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* Para navegadores Firefox no macOS */
  font-smoothing: antialiased; /* Tentativa de suporte geral (não padrão) */
  overflow: hidden;
}
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html {
  user-select: none;
  font-size: 16px;
  /* Padrão, mas pode ser ajustado */
}

footer {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.input_style {
  background-color: var(--input-color);
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.input_style:focus {
  background-color: #ececec;
}

.required_abbr {
  text-decoration: none;
  font-weight: 900;
  color: var(--button-color-red);
}

#group_total_resume {
  opacity: 1;
  transform: translateX(0);
}
#group_total_resume.show {
  background-color: var(--button-color-green);
  opacity: 0;
  transform: translateX(100%);
  display: none;
}

#group_cards.padding_top {
  padding-top: 17rem;
}
#resume_month.fixed {
  position: fixed;
  height: auto;
  flex-direction: column;
  top: 0;
}
#menu_mobile {
  position: relative;
  top: 280px;
}
/*==========JS DO MODAL*/

#confirm_modal.theme_red {
  background-color: #2f0000;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 1rem;
}
#modal_box.theme_red p {
  color: #ff4000;
}

#confirm_yes {
  background-color: #ccb334;
  border: none;
  padding: 1rem 2.5rem 1rem 2.5rem;
  border-radius: 0.5rem;
  color: white;
}

#confirm_no.theme_red {
  background-color: #ff4000;
  border: none;
  padding: 1rem 2.5rem 1rem 2.5rem;
  border-radius: 0.5rem;
  color: white;
}

.actions {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

/**********************************/

#body_modal {
  width: 100vw;
  height: 100lvh;
  background-color: rgb(0 0 0 / 20%);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}
#body_modal.hidden {
  display: none;
}
#confirm_modal {
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 1rem;
  position: absolute;
  box-shadow: -3px 10px 48px -6px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: -3px 10px 48px -6px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: -3px 10px 48px -6px rgba(0, 0, 0, 0.61);
}
#confirm_modal.warning {
  background-color: #2f2600;
}
#confirm_modal.category {
  background-color: #fff;
}
#confirm_modal.danger {
  background-color: #2f0000;
}
#confirm_modal.success {
  background-color: #002f27;
}
#confirm_modal.warning #modal_box p {
  color: #ffcc00;
}
#confirm_modal.danger #modal_box p {
  color: #ff4000;
}

#confirm_modal.success #modal_box p {
  color: #29e0a9;
}
#modal_box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#confirm_yes {
  background-color: #ccb334;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;
}
#confirm_yes.btn_success {
  background-color: #00c030;
}

#confirm_title {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 0.2rem;
}

#confirm_no {
  background-color: #ff4000;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;
}
.actions {
  display: flex;
  justify-content: end;
  gap: 1rem;
}
.due_date_false {
  color: white;
  font-size: 0.8rem;
  background-color: var(--button-color-red);
  padding: 3px 5px;
  border-radius: 4px;
}
.due_date_true {
  color: white;
  font-size: 0.8rem;
  background-color: var(--button-color-green);
  padding: 3px 5px;
  border-radius: 4px;
}
.due_date_revenue {
  color: white;
  font-size: 0.8rem;
  background-color: var(--azul-400);
  border-radius: 4px;
  padding: 3px 5px;
}
