:root {
  --button-color-red: #ff4000;
  --button-color-red-hover: #ff5757;

  --button-color-blue: #448aff;
  --button-color-blue-hover: #6ba1ff;
  --button-color-green: #00c030;
  --button-color-green-hover: #00c030;

  --button-color-yellow: #ffd600;

  --button-color-yellow-marge: #ccb334;

  --azul-200: #263940;
  --azul-400: #30434c;
  --cinza-900: #dbdfe1;
  --white-900: #ffffff;
  --white-200: #c3c3c3;

  --input-color: rgb(115, 115, 115, 0.251);
  --text-default: #373737;
  --text-legend: #7b7b7b;
}
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html {
  user-select: none;
  font-size: 16px;
  /* Padrão, mas pode ser ajustado */
}

footer {
  display: none;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" -25, "opsz" 20;
}

.input_style {
  background-color: var(--input-color);
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.input_style:focus {
  background-color: #ececec;
}

.required_abbr {
  text-decoration: none;
  font-weight: 900;
  color: var(--button-color-red);
}

#group_total_resume {
  opacity: 1;
  transform: translateX(0);
}
#group_total_resume.show {
  background-color: var(--button-color-green);
  opacity: 0;
  transform: translateX(100%);
  display: none;
}
#resume_month.fixed {
  position: fixed;
  height: auto;
}
#menu_mobile {
  position: relative;
  top: 280px;
}
