#body_modal {
  width: 100vw;
  height: 100lvh;
  background-color: rgb(0 0 0 / 20%);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

#modal_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}
#body_modal.hidden {
  display: none;
}
#confirm_message {
  text-align: center;
}
#confirm_modal {
  background-color: var(--white-900);
  padding: 2rem;
  border-radius: 10px;
}
#confirm_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#icon_modal {
  font-size: 70px;
}
#icon_modal.danger {
  color: var(--button-color-red);
}
#icon_modal.warning {
  color: var(--button-color-yellow);
}
#confirm_title {
  font-weight: 600;
}
#confirm_no,
#confirm_yes {
  padding: 0.625rem;
  border-radius: 0.375rem;
  font-weight: 400;
  color: var(--white-900);
  cursor: pointer;
}
#confirm_no {
  background-color: var(--component-color);
}
#confirm_yes.danger {
  background-color: var(--button-color-red);
}
#confirm_yes.warning {
  background-color: var(--button-color-yellow);
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
