#edit_category {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(13 13 13 / 73%);
  backdrop-filter: blur(4px);
  padding: 2rem;
  text-decoration-color: black;
  color: black;
}

#header_new_category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  width: 100%;
}

#header_new_category h2 {
  width: 100%;
  text-align: center;
  position: relative;
  top: -50%;
}

#group_button_category {
  display: flex;
  justify-content: space-between;
  gap: 4%;
  width: 100%;
  padding-bottom: 2%;
  align-content: center;
  align-items: center;
}

#close_new_category {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  align-items: center;
}

#form_new_category {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  padding: 2rem;
  background-color: var(--white-900);
  border-radius: 0.5rem;
}

#select_icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#color_selector {
  cursor: pointer;
}

#button_icons {
  display: flex;
  justify-content: center;

  background-color: #181818;
  color: var(--white-900);
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

#button_icons:hover {
  background-color: #5a5a5a;
}

.list_button_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.4rem;
  background: none;
  color: var(--white-900);
  cursor: pointer;
}

#new_icon {
  font-variation-settings: "wight" 300;
}

#display_icon_on {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--white-900);
  background-color: #202020;
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 1rem;
}
.edit_category {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.edit_document,
.delete_forever {
  cursor: pointer;
  color: #7b7b7b;
}
.edit_document:hover {
  color: var(--button-color-blue);
}
.delete_forever:hover {
  color: var(--button-color-red);
}

#display_icon_on span:hover {
  color: #8a8a8a;
}
