@import url("shared/main.css");

#main_login {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: space-evenly;
}
.input_login {
  font-size: 1rem;
}
#contentRightSid {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  padding: 2rem;
  border-radius: 1rem;
}
#imageBackground {
  display: none;
}
#logo_left {
  display: flex;
  justify-content: center;
  align-items: start;
}
#logo {
  width: 242.15px;
  height: 109px;
}
#right_side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
#left_side_login {
  display: none;
}
#formLogin {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
#forget {
  text-decoration: none;
  color: var(--button-color-blue);
}
#titlePage {
  color: var(--white-900);
}
#divInputEmail,
#divInputPassword {
  border: 1px solid var(--azul-400);
  width: 100%;
  padding: 1rem 1rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  border-radius: 10px;
  background-color: #fff;
}

#inputEmail,
#inputPassword {
  outline: none;
  width: 100%;
}
#linksAndButtons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#groupButtons,
#groupLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
#groupButtons {
  gap: 1rem;
  flex-direction: column;
}
#groupRemember {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-900);
}

#remember {
  margin-right: 0.5rem;
}
#singInButton {
  text-decoration: none;
  padding: 1rem 3rem;
  background-color: #fff;
  border-radius: 0.5rem;
  color: var(--azul-400);
  border: 0.5px solid var(--azul-400);
  outline-offset: -1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}
#loginButton {
  text-decoration: none;
  padding: 1rem 4rem;
  background-color: var(--azul-400);
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: 0.5px solid #fff;
  width: 100%;
}

#titlePage {
  color: var(--azul-400);
}
#divInputEmail,
#divInputPassword {
  border-radius: 10px;
}
#divInputEmail.focusOn,
#divInputPassword.focusOn {
  border-left: 16px solid var(--azul-400);
  padding-left: 10px;
}

#imageBackground {
  width: 100%;
  height: 100%;
}

#titlePage {
  padding-bottom: 2rem;
  font-weight: 600;
}
#logo {
  width: 242.15px;
  height: 90px;
}
#womanBackground {
  width: 85%;
  opacity: 0.2;
}
.divInputEmail,
.divInputPassword {
  border: 1px solid var(--azul-400);
  width: 30rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  border-radius: 10px;
  padding-left: 16px;
}
#remember {
  margin-right: 0.5rem;
}
#labelRemember {
  display: flex;
  justify-content: center;
  align-items: center;
}
#inputEmail,
#inputPassword {
  outline: none;
  width: 100%;
}

#groupRemember {
  color: var(--text-default);
}

#loginButton {
  border: none;
}

@media screen and (min-width: 1200px) {
  #main_login {
    width: 100%;
    flex-direction: row;
    background: url("/images/backgroundLogin.svg") no-repeat center;
    background-size: cover;
  }
  #logo_right {
    display: none;
  }
  #left_side_login {
    display: flex;
    width: 50%;
  }
  #right_side {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  #contentRightSid {
    width: 70%;
    height: 60%;
  }
  #groupLinks {
    flex-direction: row;
  }
  #groupButtons {
    flex-direction: row;
  }
}

@media screen and (min-width: 1600px) {
  #contentRightSid {
    width: 51%;
    height: 48%;
  }
}
