@import url("shared/main.css");

#main_login {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: space-evenly;
  background-image: url("/images/backgroundLogin.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.input_login {
  font-size: 1rem;
  background: none;
}
#contentRightSid {
  display: flex;
  flex-direction: column;
  background-color: var(--azul-200);
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  padding: 2rem;
  border-radius: 1rem;
  gap: 1rem;
}
#imageBackground {
  display: none;
}

#right_side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

#formLogin {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
#forget {
  text-decoration: none;
  color: var(--button-color-blue);
}

#inputEmail,
#inputPassword {
  outline: none;
  width: 100%;
  color: var(--white-900);
}
#linksAndButtons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#groupButtons,
#groupLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
#groupButtons {
  gap: 1rem;
  flex-direction: column;
}
#groupRemember {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-900);
}

#remember {
  margin-right: 0.5rem;
}
#createAccountDiv {
  width: 100%;
}
#createAccountButton {
  text-decoration: none;
  padding: 1rem 3rem;
  background-color: #fff;
  border-radius: 0.5rem;
  color: var(--azul-400);
  border: 0.5px solid var(--azul-400);
  outline-offset: -1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  padding-top: 1rem;
}
#loginButton {
  text-decoration: none;
  padding: 1rem 4rem;
  background-color: #1a8aec;

  border-radius: 0.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: 0.5px solid #fff;
  width: 100%;
}

#divInputEmail.focusOn,
#divInputPassword.focusOn {
  border-left: 18px solid var(--azul-400);
  padding-left: 16px;
}

#imageBackground {
  width: 100%;
  height: 100%;
}
#group_title_login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
  gap: 1rem;
  color: var(--white-900);
}

#group_title_login p {
  font-weight: 300;
  color: #ffffff69;
}

#titlePageLogin {
  font-weight: 600;
  color: var(--white-900);
  font-size: 2.5rem;
}
#logo {
  width: 242.15px;
  height: 90px;
}
#womanBackground {
  width: 85%;
  opacity: 0.2;
}

#divInputEmail,
#divInputPassword {
  outline: none;
  border: 1px solid var(--azul-400);
  color: #fff;
  width: 100%;
  background-color: var(--azul-200);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  border-radius: 1rem;
  padding-left: 33px;
}

#divInputEmail p,
#divInputPassword p {
  font-size: 0.8rem;
  color: #b4b4b4;
}
#remember {
  margin-right: 0.5rem;
}
#labelRemember {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginButton {
  border: none;
}

@media screen and (min-width: 1200px) {
  #main_login {
    width: 100%;
    flex-direction: row;
    background-color: var(--azul-400);
    background-size: cover;
  }
  #logo_right {
    display: none;
  }
  #right_side {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  #contentRightSid {
    width: 70%;
    height: 60%;
    background-color: var(--azul-200);
  }
  #groupLinks {
    flex-direction: row;
  }
  #groupButtons {
    flex-direction: row;
  }
}

@media screen and (min-width: 1600px) {
  #contentRightSid {
    width: 51%;
    height: 55%;
  }
}
