<link rel="stylesheet" href="style.css" />

<main id="main_create_account">
  <div id="button_back_login">
    <span class="material-symbols-outlined"> first_page </span> Voltar
  </div>
  <div id="main_content_create_account">
    <div id="left_side_create_account">
      <div id="logo_right">
        <img
          src="../../public/images/img_create_account.svg"
          id="logo_create_account"
          alt=""
        />
      </div>
    </div>
    <div id="right_side_create_account">
      <div id="contentRightSidCreateAccount">
        <div id="title_new_account">
          <h1 id="titlePage">Criar nova conta.</h1>
          <p>Preencha os campos com seus dados</p>
        </div>
        <form action="" id="formCreateUser">
          <div id="divInputUserName" class="group_div_inputs">
            <label for="userName">
              <p class="legend_input">Nome de usuário:</p>
              <input
                type="text"
                name="userName"
                id="userName"
                class="group_inputs"
              />
            </label>
          </div>
          <div id="group_name">
            <div id="divInputFirstName" class="group_div_inputs">
              <label for="inputFirstName">
                <p class="legend_input">Primeiro nome:</p>
                <input
                  class="input_login group_inputs"
                  type="text"
                  name="inputFirstName"
                  id="inputFirstName"
                  required
                />
              </label>
            </div>

            <div id="divInputLastName" class="group_div_inputs">
              <label for="inputLastName">
                <p class="legend_input">Sobrenome:</p>
                <input
                  class="input_login group_inputs"
                  type="text"
                  name="inputLastName"
                  id="inputLastName"
                  required
                />
              </label>
            </div>
          </div>

          <div id="divInputEmail" class="group_div_inputs">
            <label for="inputEmail">
              <p class="legend_input">Endereço de email:</p>
              <input
                class="group_inputs"
                type="email"
                name="inputEmail"
                id="inputEmail"
              />
            </label>
          </div>
          <div id="divInputPassword" class="group_div_inputs">
            <label for="inputPassword">
              <p class="legend_input">Senha</p>

              <input
                class="input_login group_inputs"
                type="password"
                name="inputPassword"
                id="inputPassword"
                required
              />
            </label>
          </div>

          <div id="linksAndButtons">
            <div id="groupButtons">
              <button id="createNewUserButton">Criar conta</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
